CRAFT/figures
CRAFT/result
CRAFT/weights

Dataset/IAM.zip
Dataset/example.pdf
Dataset/HW
Dataset/PR
Dataset/IAM

DTrOCR
Dataset/augmented_examples
Dataset/printed_examples
Dataset/fonts
Dataset/IAM
Dataset/__pycache__
MORAN/Dataset/H
MORAN/Dataset/P
MORAN/best_model.pth
MORAN/checkpoints
weights/best_model.pth
weights/craft_mlt_25k.pth
